{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h2 class="text-center mb-4"><strong>TÉRMINOS DE USO Y POLÍTICA DE PRIVACIDAD</strong></h2>
      <p>Nuestra Política de Privacidad establece los términos en que BicicletasMondongo usa y protege 
        la información proporcionada por sus usuarios al utilizar su sitio web. Esta compañía está comprometida
         con la seguridad de los datos de sus usuarios. Cuando se pide llenar los campos de información personal
          con los cuales puedas ser identificado, se hace asegurando que solo se empleará de acuerdo con los 
          términos de este documento. Sin embargo, esta Política de Privacidad puede cambiar con el tiempo o 
          ser actualizada, por lo que se recomienda revisar continuamente esta página para asegurarse de estar
           de acuerdo con dichos cambios.</p>
      <hr>
      <h4 class="text-center mt-4"><strong>Información que es recogida</strong></h4>
      <p>Nuestro sitio web podrá recoger información personal como Nombre, información de contacto como su 
        dirección de correo electrónico e información sobre ubicaciones. Cuando sea necesario, se especificará
         esta información para procesar algún pedido o realizar una entrega o facturación.</p>
      <hr>
      <h4 class="text-center mt-4"><strong>Uso de la información recogida</strong></h4>
      <p>Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible, mantener
         un registro de usuarios, de pedidos en caso que aplique, y mejorar productos y servicios.</p>
      <p>BicicletasMondongo está altamente comprometido para cumplir con el compromiso de mantener su información 
        segura. Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos de que no exista ningún acceso no autorizado.</p>
      <hr>
      <h4 class="text-center mt-4"><strong>Cookies</strong></h4>
      <p>Una cookie se refiere a un archivo que es enviado con la finalidad de solicitar permiso para almacenarse
         en su ordenador. Al aceptar dicho archivo se crea y la cookie sirve entonces para tener información respecto al tráfico web,
          y también facilita las futuras visitas recurrentes. Otra función que tienen las cookies es que con ellas las webs pueden 
          reconocerte individualmente y por tanto brindarte el mejor servicio personalizado.</p>
      <p>Nuestro sitio web emplea las cookies para poder identificar las páginas que son visitadas y su frecuencia. Esta información
         es empleada únicamente para análisis estadístico y después la información se elimina de forma permanente. Usted puede eliminar
          las cookies en cualquier momento desde su ordenador. Sin embargo, las cookies ayudan a proporcionar un mejor servicio de 
          los sitios web, estas no dan acceso a información de su ordenador ni de usted, a menos de que usted así lo quiera y la
           proporcione directamente.</p>
      <hr>
      <h4 class="text-center mt-4"><strong>Enlaces a Terceros</strong></h4>
      <p>Este sitio web pudiera contener enlaces a otros sitios que pudieran ser de su interés. 
        Una vez que usted de clic en estos enlaces y abandone nuestra página, ya no tenemos control sobre al sitio al 
        que es redirigido y por lo tanto no somos responsables de los términos o privacidad ni de la protección de sus datos 
        en esos otros sitios terceros. Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es 
        recomendable que los consulte para confirmar que usted está de acuerdo con estas.</p>
      <hr>
      <h4 class="text-center mt-4"><strong>Control de su información personal</strong></h4>
      <p>En cualquier momento usted puede restringir la recopilación o el uso de la información personal que es 
        proporcionada a nuestro sitio web. Para ello será necesario realizar una nueva reclamación a través de la sección correspondiente.</p>
      <p>Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento, 
        salvo que sea requerido por un juez con un orden judicial.</p>
      <p>BicicletasMondongo se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento.</p>
      <hr>
      <a class="btn btn-dark" href="/store/catalog/">Volver</a>
    </div>
  </div>
</div>
{% endblock %}